body {
	background-color: #ffffff;
}
.container {
	width: 940px;
	height: 1260px;/*1260px*/
	margin-right: auto;
	margin-left:auto;
	}

/*Header Style*/
header div{
	margin-bottom:20px;
	color: #0A356D;
	font-family:"Yu Gothic UI Light";
	font-size:40px;
}

ul{
		padding-left:165px;
}
.nav li{
		list-style: none;
		float:left;
  	font-family:"Yu Gothic UI Light";
    font-size: 16px;
    padding-top:12px;
    padding-right:60px;
    padding-bottom: 14px;
    color:#0A356D;
}

.footer{
	/*margin-top:0px;*/
  background-color: #D5D8DF;
  height:40px;
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
.footer p{
	margin-left: 370px;
	padding-top: 14px;
	font-family:Arial;
	font-size:10px;
	color:#ffffff;
}
